{
    "serverName": "Test server"
  , "upstreamHost": "stratum.example.com"
  , "upstreamPort": 9555

  , "localPort": 9555

  , "username": "DATkurgeSP7nHDnSade7GbrGaLK3E4Aezc+0.000500"
  , "password": "anything"

  , "redisHost": "localhost"
  , "redisAuth": "my redis auth"
  , "redisChanName": "shares"

  , "publicKeyByte": 30
  , "extraNonce2Size": 2
  , "extraNonce3Size": 2

  , "vardiffRetargetTime": 180
  , "vardiffTarget": 10
  , "vardiffAllowance": 0.25
  , "vardiffMin": 0.0002
  , "vardiffInitial": 0.0002
  , "vardiffShares": 40

  , "logLevel": "INFO"
}
